.mainPanel {
  position: relative;

  .lunarPanel {
    .ganZhiPanel {
      line-height: 50px;
      background: #5FD9CD;
      color: #FFF;
      text-align: center;
      .ganZhiDetail {
        margin: 0 10px;
      }
    }
    .yearPanel {
      background: #EAF786;
      color: #80CBC4;
      font-size: 24px;
      text-align: center;
      .yearDatail {
        display: block;
      }
    }
    .dayPanel {
      background: #EAF786;
      font-size: 100px;
      text-align: center;
    }
    .festivalPanel {
      background: #EAF786;
      color: #26A69A;
      text-align: center;
      font-size: 16px;
    }
    .monthPanel {
      background: #FFB5A1;
      font-size: 26px;
      text-align: center;
    }
    .hlPanel {
      background: #FFB5A1;
      color: #ff7043;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
